*.[ao]
*.swp
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/config.h
src/config.h.in
src/config.h.in~
src/fw/sshg-fw
src/parser/attack_parser.[ch]
src/parser/attack_scanner.c
src/sshg-blocker
src/sshg-parser
src/stamp-h1
ylwrap
