*.[ao]
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/config.h
src/config.h.in
src/config.h.in~
src/fwalls/.deps/
src/fwalls/command.h
src/parser/.deps/
src/parser/attack_parser.[ch]
src/parser/attack_scanner.c
src/sshg-parser
src/sshguard
src/stamp-h1
ylwrap
