#!/bin/sh
# sshguard.conf -- SSHGuard configuration

# Full path to one of sshg-fw-firewalld, sshg-fw-hosts,
# sshg-fw-ipfw, sshg-fw-ipset, sshg-fw-iptables, sshg-fw-null,
# sshg-fw-pf, or other compatible executable.
# BACKEND=""


# Configure either FILES or LOGREADER. The latter takes precedence.
# Alternatively, unset both options and pipe in logs over standard input.

# Space separated list of log files to monitor.
FILES="/var/log/auth.log /var/log/maillog"

# Custom command that is expected to pipe tailed log entries over
# standard output to SSHGuard.
# LOGREADER="LANG=C /usr/bin/journalctl -afb -p info -n1 -t ssh -t sendmail -o cat"
